py -3.9 -m venv venv
(Set-ExecutionPolicy -Scope Process -ExecutionPolicy RemoteSigned) ; (& d:\WorkSpace\Python\nlp-with-transformers\venv\Scripts\Activate.ps1)

# Base requirements
pip install --force-reinstall --no-cache-dir --no-deps farm-haystack==0.9.0
# https://github.com/deepset-ai/haystack/issues/2081
pip install --force-reinstall --no-cache-dir --no-deps pymilvus==1.0.0
pip install --force-reinstall --no-cache-dir --no-deps grpcio==1.37.0
pip install --force-reinstall --no-cache-dir --no-deps matplotlib
# Colab fix since FARM requires PyTorch v1.8.1 but v1.10.0 is installed by
# default. See: https://github.com/deepset-ai/haystack/issues/1787
pip install --force-reinstall --no-cache-dir --no-deps torch==1.8.1+cu111
# torchvision==0.9.1+cu111
# torchaudio==0.8.1
# We need this version because haystack pins 
# transformers 4.6.1 which depends on huggingface-hub==0.0.8
# and is incompatible with later versions of datasets
pip install --force-reinstall --no-cache-dir --no-deps datasets==1.11.0
